<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="DIGITAL"
		gameType="PC | PS3 | PS4"
		gamePrice="$129,99"
		>
	</app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="DIGITAL"
		gameType="PC | PS4 | PS5"
		gamePrice="$269,99"
		>
	</app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="EXCLUSIVE"
		gameType="PC | PS5"
		gamePrice="$399,99"
		>
	</app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="DIGITAL"
		gameType="PC | PS3 | PS4"
		gamePrice="$249,99"
		>
	</app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="NEW"
		gameType="PC | PS4 | PS5"
		gamePrice="$169,99"
		>
	</app-card>
</div>
